{
    "websites": [
        {"name": "Google", "url": "https://www.google.com"},
        {"name": "GitHub", "url": "https://www.github.com"},
        {"name": "Test Down Website", "url": "https://testdownWebsite.fr"},
    ]
}